html, body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

#status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #969696;
    font-size: 12px;
}

#about {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

#about a {
    color: #969696;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    font-size: 12px;
}

i.gitlab {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #969696;
    -webkit-mask-image: url("https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/gitlab.svg");
    mask-image: url("https://cdnjs.cloudflare.com/ajax/libs/simple-icons/3.0.1/gitlab.svg");
}

#about a:hover {
    color: #ffffff;
}
#about a:hover i {
    background-color: #ffffff;
}

.ymaps-layers-pane {
    filter: grayscale(100%) brightness(30%) !important;
}
.gotoymaps {
    opacity: 0 !important;
}

.ymaps-copyrights-pane + ymaps {
    opacity: 0;
    display: none;
}
.ymaps-copyright-agreement.ymaps-copyright-agreement-black {
    background-color: transparent !important;
}
.ymaps-copyright-agreement.ymaps-copyright-agreement-black a {
    color: white !important;
}